.main {
	position: relative;
	width: 100%;
	height: 950px;

	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.swiper-slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		z-index: 20;

		.nav-btn {
			position: absolute; // ✅ 필수!
			width: 50px;
			height: 50px;
			cursor: pointer;
			user-select: none;

			&.prev-btn {
				left: 30px;
			}

			&.next-btn {
				right: 30px;
			}
		}
	}
}