@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style:none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%;}
button{cursor:pointer;}
table{width: 100%;}
body{background: #fff; color: #333;}

.inner{
    width: 1200px;
    margin: auto;
}
header{
    position: relative;
    height: 70px;
    background: #444C61;
    padding-top: 10px;
    padding-left: 30px;
}
header >h1{
    width: 200px;
    height: 40px;
}
header>h1 a{display: block;}
nav{
    position: absolute;
    top: 20px;
    right: 0;
}
nav>ul{
    display: flex;
}
nav>ul>li>a{
    display: block;
    width: 120px;
    color: #F5E4EA;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
nav>ul>li:hover>a{
    color: #F5E4EA;
    background: #fff;
}
.sub1, .sub2, .sub3{
    display: none;
    position: absolute;
    background: #fff;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sub li a:hover{
    background: beige;
}

.contents > .slide{
    position: relative;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
}
.slide ul{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 1050px;
    animation: verticalSlide 9s linear infinite;
}
@keyframes verticalSlide {
    0%   { transform: translateY(0); }
    33%  { transform: translateY(-350px); }
    66%  { transform: translateY(-700px); }
    100% { transform: translateY(0); }
  }
.slide ul li{
    list-style: none;
    width: 1200px;
    height: 350px;
}
.slide ul li img{
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents > .con{
    height: 280px;
    background-color: bisque;
    display: flex;
}
.contents>.con article{
    width: 400px;
    height: 100%;
}
.con1{
    background-color: pink;
}
.con2{
    background: url(/img/con2.jpg);
}
.con3{
    background: url(/img/con3.jpg);
}


footer{
    position: relative;
    height: 100px;
    background-color: #444C61;
    display: flex;
}
footer>.left{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
footer > .right {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
